<div class="footer">
    <div class="grey-links">
        <div class="pages"> Pages </div>
        <a href="/work">
            <div class="grey-link"> Work </div>
        </a>
        <a href="/about">
            <div class="grey-link"> About </div>
        </a>
        <a href="/contact">
            <div class="grey-link"> Contact </div>
        </a>
    </div>
    <div class="address-block">
        <a href="https://www.address.com/in/obsi-elias" target="_blank">
            <i id="address-logo" class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.mailto:obsielias2019@gmail.com" target="_blank">
            <i id="address-logo" class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://www.github.com/Obsi-Elias" target="_blank">
            <i id="address-logo" class="fa-brands fa-github"></i>
        </a>
    </div>
</div>