<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Obsi Elias</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="myname"> Obsi Elias</a>
        <i id="bars" class="fa-solid fa-bars" onclick="openMenu()"></i>
    </div>
    
    <div class="menu-overlay"> 

    </div>
    <div class="menu-slide">
        <a href="javascript:void(0)" class="menu-x" onclick="closeMenu()">&times;</a>
        <a href="/projects"> Work </a>
        <a href="/about"> About </a>
        <a href="/contact"> Contact </a>
     </div>

     <script> 
        function openMenu() {
          const openMenu =  document.querySelector(".menu-slide");
          openMenu.style.width = "180px";
          document.querySelector("#bars").style.display = "none";
          document.querySelector(".menu-overlay").style.width= "100%";
        }

        function closeMenu() {
            const closeMenu = document.querySelector(".menu-slide");
            closeMenu.style.width = "0";
            const viewBar = document.querySelector("#bars");
            viewBar.style.display = "initial";
            document.querySelector(".menu-overlay").style.width = "0";
        }
     </script>
</body>
</html>