<!DOCTYPE html>
<html lang="en">
    <div class="partial-page">Snap Lenses</div>
     <div class="project-page-center"> 
        <div class="lens">
            <video src="/videos/snap.mp4" autoplay muted loop class="snap-vid"></video>
            <div class="lens-name">Chantell jeffries</div>
        </div>
        <div class="lens">
            <video src="/videos/snap.mp4" autoplay muted loop class="snap-vid"></video>
            <div class="lens-name">Olivia O'brien</div>
        </div>
        <div class="lens">
            <video src="/videos/snap.mp4" autoplay muted loop class="snap-vid"></video>
            <div class="lens-name">Halsey</div>
        </div>
    </div>
<body>
    
</body>
</html>
