<!DOCTYPE html>
<html lang="en">
{{>main}}
<body>
    <div class="about-intro">
        <div class="about-header">Lover of startups, comedy, and coffee</div>
        <div class="about-headshot"></div>
        <div class="about-description">
             Hey, I am Obsi! I'm a web developer based in Addis Ababa, Ethiopia.
        </div>
        <div class="about-description">
            I graduated from Addis Ababa Science and Technology University with BsC in Computer Engineering, where I studied everthing
            about computers hardware and software including algorithms and operating systems. 
        </div>
        <div class="about-description">
           I am  currently working as application manager at CBE, where I get to spend my days working on websites and IBM bus integration. 
        </div>
        <div class="about-whatido"> What I Do</div>
        <div class="about-what"> Web Development {JavaScript, React, Java} </div>
        <div class="about-what"> IBM bus integration </div>
        <div class="about-what"> Information Security Analyst </div>
    </div>
    <div class="about-next">
        <div class="about-ready">Ready to see what's next? </div>
        <a class="about-chat" href="/contact">Let's Chat</a>
    </div>

{{>footer}}
</body>

</html>