<!DOCTYPE html>
<html>
    {{> main}}
    <body>
        <div class="spacinghome"></div>
        <div class="home">
        <div class="decor"></div>
        <div class="home-case">
            <div class="home-box">
                <div class="typewriter">
                    <h1> Hey, I'm Obsi! I am</h1>
                </div>
                <div class="typewriter-1">
                    <h1> Full-stack Web Developer </h1>
                </div>
                <div class="typewriter-2">
                    <h1> living in Addis Ababa</h1>
                </div>
            </div>
            <a href="/projects" class="home-button">Recent Work</a>
            <a href="/contact" class="home-button">Let's chat</a>
            </div>
        </div>

        {{> footer}}
    </body>
</html>