* {
    font-family:'Times New Roman', Times, serif;
}

@font-face {
    font-family: fontLight;
    src: url(/fonts/futura/futur.ttf);
}

@font-face {
    font-family: fontBold;
    src: url(/fonts/futura/Futura\ Bold\ font.ttf);
}
@font-face {
    font-family: brandonBold;
    src: url(/fonts/brandon/Brandon_bld.otf);
}
@font-face {
    font-family: brandonLight;
    src: url(/fonts/brandon/Brandon_light.otf);
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}

.myname {
    position: absolute;
    top: 5px;
    left: 30px;
    color: #000;
    text-decoration: none;
    font-family: brandonBold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

#bars {
    position: absolute;
    top: 7px;
    right: 25px;
    color: #7f7d7a;
    font-size: 15px;
}

#bars:hover {
    color: #2c4ae0;
}

.menu-slide {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    transition: 0.5s;
    padding-top: 40px;
    overflow-x: hidden;
}

.menu-slide a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: brandonLight;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu-slide a:hover {
    color: #2c4ae0;
}

.menu-slide .menu-x {
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
    position: absolute;
    top: 2px;
    right: 22px;
    margin-left: 50px;
    font-size: 22px;
    color: #000;
}

.menu-overlay {
    width: 0;
    background: #000;
    opacity: 0.7;
    height: 180vh;
    z-index: 15;
    top: 30px;
    left: 0;
    position: absolute;
}



.home {
    height:100vh;
    width: 80%;
    text-align: center;
    margin: auto;
    
}

.home-case {
    width: 300px;
    height: 90px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.home-box {
    display: inline-block;
   background-color: #fff;
   border: 1.4px solid #056d6c;
   width: 300px;
   height: 150px;
   margin: 0;
   color: #056d6c;
   font-size: 10px;
   letter-spacing: 3px;
}

.home-button {
    text-decoration: none;
    display: inline-block;
    font-family: brandonBold;
    font-size: 12px;
    background-color: #d67600;
    color: #fff;
    padding: 2px;
    margin: 12px;
    margin-top: 20px;
}

.typewriter h1, .typewriter-1 h1, .typewriter-2 h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    animation-fill-mode: both;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: #ffa550}
}

.typewriter h1 {
    margin-top: 40px;
}

.typewriter-1 h1 {
    animation-delay: 2s;
}

.typewriter-2 h1 {
    animation-delay: 4s;
}

a {
    text-decoration: none;
}

.footer {
    color: #333333;
    background-color: #fff; 
}

.grey-links {
    background-color: #fafafa;
    height: 100px;
    padding-top: 55px;
    padding-left: 8%;
}

.address-block {
    text-align: right;
    background-color: #fff;
    margin: auto;
    height: 30px;
    align-content: right;
}

#address-logo {
    color: #333333;
    font-size: 10px;
    padding: 10px;
    padding-left: 20px;
}

#address-logo:hover {
    color:#2c4ae0;
}

.pages {
    text-transform: uppercase;
    color: #056d6c;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 8px;
    line-height: 18px;
    margin-top: -30px;
}

.grey-link {
    color: #333333;
    font-family: brandonLight;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0);
}

.grey-link:hover {
    color:#2c4ae0;
}

.contact-container {
    width: 60%;
    margin: auto;
    color: #056d6c;
}

.contact-title {
    margin-top: 45px;
    margin-bottom: 10px;
    font-family: brandonBold;
    font-size: 25px;
    color: #1d999d;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact-form {
    font-family: fontLight;
    font-size: 15px;
}

.contact-label {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

input[type=text], select {
    width: 90%;
    font-size: 15px;
    font-family: fontLight;
    background-color: #f5f5f5;
    border: 0;
    padding: 6px 7px;
    margin: 5px 5px;
    border-bottom: 2px solid #e0e0e0;
    margin-left: 0;
}

input[type=submit], select {
    background-color: #1d9999;
    color: #fff;
    border: 0;
    width: 95%;
    margin: 5px 0;
    margin-bottom: 60px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    cursor: pointer;
    appearance: initial;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #f7f7f7;
    color: #444444;
}

input:focus, textarea:focus {
    outline: none;
}

#note {
    width: 93%;
}

#contact-thankyou {
    display: none;
}

#submitted {
    display: none;
}

.projects {
    text-align: center;
    margin: auto;
    margin: 40px;
    margin-bottom: 5px;
}

.projects-categories {
    margin-top: 5px;
    cursor:pointer;
}

.projects-title {
    margin-top: 13px;
    font-family: brandonBold;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4px;
    color: #444444;
}

.category {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    color: #8c8c8c;
    font-family: brandonLight;
    text-transform: uppercase;
}

.category:hover {
    color:#2c4ae0;
}

.work-obj {
    display: inline-block;
    position: relative;

    margin-bottom: 15px;
    margin-left: 15px;
    width: 210px;
    height: 140px;
    overflow: hidden;
}

.work-img {
    object-fit: cover;
    width: 210px;
    height: 140px;
    transition: all 0.5s ease; 
}

.work-overlay {
    display: block;
    width: 210px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.21);
    z-index: 3;
}

.work-title {
    text-align: left;
    width: 210px;
    height: 140px;
    position: absolute;
    padding-left: 15px;
    line-height: 17;
    bottom: 0;
    left: 0;
    z-index: 4;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: brandonLight;
    text-transform: uppercase;
}